@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

button, input, optgroup, select, textarea:focus
	outline: none

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden

section, header
	position: relative
	background-size: cover
	background-position: center

.img-responsive
	display: block
	max-width: 100%
	height: auto

h1,h2,h3,h4,h5,h6,
	font-family: Montserrat-Regular
	color:#333333 
	text-transform: uppercase
b,strong
	font-family: Montserrat-Bold
ul,li
	list-style-type: none
	margin: 0
	padding: 0
.site-header
	background-color: $gray-bg
	min-height: 700px
	height: 100vh
	.top-line
		height: 90px
		border-bottom: 1px solid #4c4f52
		padding: 18px 50px
		.main-menu,.hamburger-div
			float: right

.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before
	background-color: #fff
	border-radius: 0px
	height: 2px
	width: 22px
.hamburger-box
	width: 22px
.hamburger--collapse .hamburger-inner
	bottom: 4px
.hamburger-inner::before
	top: -7px
.hamburger--collapse .hamburger-inner::after
	top: -14px

.logo
	img
		width: 230px
	
	

@import "media" // Всегда в конце
