@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

button, input, optgroup, select, textarea:focus
	outline: none

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden

section, header
	position: relative
	background-size: cover
	background-position: center

.img-responsive
	display: block
	max-width: 100%
	height: auto

h1,h2,h3,h4,h5,h6,
	font-family: Montserrat-Regular
	color:#333333 
	text-transform: uppercase
b,strong
	font-family: Montserrat-Bold
ul,li
	list-style-type: none
	margin: 0
	padding: 0
.site-header
	background-color: $gray-bg
	min-height: 700px
	height: 100vh
	.top-line
		height: 90px
		border-bottom: 1px solid #4c4f52
		padding: 0px 50px
		.main-menu,.hamburger-div,.header-search,.header-cart
			float: right

.sf-menu 
	a
		color: #fff
		border: none
		padding: 0 18px
		&:hover
			background-color: #fff
			color: #999
			border-radius: 35px
	&>li
		background: transparent
		padding: 30px 4px
		&:hover
			background: transparent
	.active
		background-color: #fff
		color: #999
		border-radius: 35px
	

.header-cart
	padding: 30px 15px;
	a
		color: #fff 
		text-decoration: none
.cart
	background-image: url(/img/shop-icon.png)
	background-repeat: no-repeat
	width: 24px
	height: 29px
	display: block
	padding: 5px 8px
	font-size: 14px

.header-search
	padding: 23px 5px
	a
		color: #fff
		padding: 0px 8px
		width: 40px
		font-size: 25px
		display: block
.hamburger-div
	padding: 18px 0
.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before
	background-color: #fff
	border-radius: 0px
	height: 2px
	width: 22px
.hamburger-box
	width: 22px
.hamburger--collapse .hamburger-inner
	bottom: 4px
.hamburger-inner::before
	top: -7px
.hamburger--collapse .hamburger-inner::after
	top: -14px

.logo
	padding: 19px 0
	display: inline-block
	img
		width: 230px
	
	

@import "media" // Всегда в конце
